.advanced_search_text {

    align-items: left;
    justify-content: left;
    height: 5%;
}

#first {
    position: absolute;
    top: 20%;
    left: 5%;
    height: 40%;
}


#second {
    position: absolute;
    top: 24%;
    left: 5%;
    height: 40%;
}

#third {
    position: absolute;
    top: 28%;
    left: 5%;
    height: 40%;
}


#fourth {
    position: absolute;
    top: 32%;
    left: 5%;
    height: 40%;
}

#submit {
    position: absolute;
    top: 36%;
    left: 26%;
    
}

#firsttext {
    position: absolute;
    top: 20%;
    left: 5%;
    text-align: left;

}