html, body, form {
    height: 100%
}

form {
    display: flex;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    }


#text {
    width: 30%;
    height: 5%;
    position: absolute;
    border-radius: 25px;
    margin: 20%;
}

#searchbutton {
    height: 5%;
    position: relative;
    top: 6%;
    margin: 0.4%; 
}


#links {
    position: relative;
    left: 90%;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .advanced_search_text {
    
  }
